/* Custom native scrollbar */

/* Light theme - override Facebook chat theme gradients */
::-webkit-scrollbar {
	width: 8px !important;
	height: 8px !important;
	background: #f5f6f7 !important;
}

::-webkit-scrollbar-thumb {
	background-color: #bcc0c4 !important;
	border-radius: 4px !important;
}

::-webkit-scrollbar-track {
	background: #fff !important;
}

::-webkit-scrollbar-track:hover {
	background: #f0f1f2 !important;
}

/* Dark theme - override Facebook chat theme gradients */
html.dark-mode ::-webkit-scrollbar {
	width: 8px !important;
	height: 8px !important;
	background: var(--container-dark-color) !important;
}

html.dark-mode ::-webkit-scrollbar-thumb {
	background-color: var(--base-twenty) !important;
	border-radius: 4px !important;
}

html.dark-mode ::-webkit-scrollbar-track {
	background: transparent !important;
}

html.dark-mode ::-webkit-scrollbar-track:hover {
	background: #ffffff10 !important;
}
